.review {
	padding-bottom: 10px;

}

.row.noPadding {
	padding: 0px;
}

.row.noBorder {
	border: 0px;
}

.filamentuiCard {
	min-height: 185px;
}


.filamentuiCard .card {
	min-height: 185px;
}

.filamentuiLoader .wave-box svg {
	width: 46px !important;
}

.logical {
	box-shadow: 3px 0px rgba(10, 85, 0, 0.7) !important;
}

.illogical {
	box-shadow: 3px 0px rgba(162, 3, 3, 0.7) !important;
}

.positive {
	border-left-width: 3px !important;
	border-left-color: rgba(10, 85, 0, 0.7) !important;
}

.negative {

	border-left-width: 3px !important;
	border-left-color: rgba(162, 3, 3, 0.7) !important;
}

.vP {
	color: #00ff1d;
}

.p {
	color: #00860f;
}

.m {
	color: #a3a3a3;
}

.n {
	color: #a20000;
}

.vN {
	color: #ff0000;
}

e {
	color: rgba(162, 3, 3, 1);
}

f {

	color: rgba(10, 85, 0, 1);
}

#scroll {
	height: 465px;
	width: 1200px;
	overflow-y: auto;
}

h3 {
	color: black !important;
}

b {
	font-weight: bolder;
}
